In [1]:
import pandas as pd

In [2]:
df = pd.read_json('FinNum_training_rebuilded.json')

In [3]:
df.head()

,category,id,idx,subcategory,target_num,tweet
0,[Product Number],98221616,4976,[Product Number],[334],$ARNA APD334 for Amyotrophic Lateral Sclerosis...
1,[Monetary],82321187,9839,[stop loss],[7.38],"$OCLR Noob investor that i am, put a 7.38 stop..."
2,[Product Number],103328840,1455,[Product Number],[1],$ES_F $SPY Bias-2 bearish and the DLT-1 DRR ar...
3,[Product Number],104840294,1111,[Product Number],[5],$TMUS its acquisition of Layer3 TV The purchas...
4,"[Percentage, Quantity, Monetary]",69935467,2373,"[relative, Quantity, forecast]","[14, 4, 5]",$TWTR ^Buy $WSTL 68c up 14% 4 time avg vol. ...